[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
pandas = "*"
jupytext = "*"
jupyterlab = "*"
pyarrow = "*"
ipython = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
beautifulsoup4 = "*"

[dev-packages]

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
